#menu ul {
    float:left;
    width:100%;
    padding:5px;
    font-size:20px;
    row-gap: 50px;
    background-color: burlywood;
}

#menu ul li {
    padding-right: 20px;
    padding-left: 20px;
    display: inline;
}

a:link {
    text-decoration-line: none;
}

a:hover{
    text-decoration-line: underline;
}